:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex; /* O layout do Next.js pode afetar isso, ajuste se necessário */
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  overflow: hidden; /* Pode precisar ajustar dependendo do layout */
  font-family: Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
